<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    <div id="app">

      <div class="note-selectors">
        <div class="note-selector" v-for="note in transformedNotes">
          <p class="note-selector-title">
            {{ formatTitle(note.body) }}
          </p>
          <p class="note-selector-timestamp">
            {{ formatTimestamp(note.timestamp) }}
          </p>
        </div>
      </div>

    </div>
  </body>

</html>