<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/notes.js" defer></script>
  </head>

  <body>
    <div class="note-selectors">
      <div class="note-selector" v-for="note in notes">
        <p class="note-selector-title">{{ note.body }}</p>
        <p class="note-selector-timestamp">{{ note.timestamp }}</p>
      </div>
    </div>
  </body>

</html>